/* @import "locomotive-scroll/dist/locomotive-scroll.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
